/* UI Components try to respect [BEM](http://getbem.com/naming/) for the naming of their CSS classes */
@import "./components/NiceButton.css";

body {
  background: #E5E4E2;
  font-family: 'Ubuntu', arial, serif;
  font-weight: lighter;
}

@media screen and (max-width: 640px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 640px) {
  body {
    margin: 8px;
  }
}

#game-app {
  background: #d4f3ff;
  width: 393px;
  height: 851px;
  margin: auto;
}

.screen.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen.home .title {
  font-size: 50px;
  padding-top: 150px;
}

.screen.home .spacer {
  height: 150px;
}

.screen.home .play-button {
  height: 40px;
  width: 100px;
}

.screen.playing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen.playing .top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #a4ddff;
  border-bottom: 1px solid #8a8a8a;
}

.screen.playing .top-bar .current-score, .screen.playing .top-bar .current-timer {
  margin: 5px;
}

.screen.playing .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.screen.playing .card .poster {
  max-width: 365px;
  max-height: 550px;
}

.screen.playing .card .question {
  font-size: 20px;
  margin: 20px 0;
}

.screen.playing .card .choices {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* or space-between? */
  width: 100%;
}
